<!DOCTYPE html>
<html>
  <head>
    <title>DocNutrition</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <% if user_signed_in? %>
    <div class="navigation-links">
  <%= link_to "Home", food_items_path %>
  |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  |
  <%= link_to "User Food List", user_food_items_path(current_user.id) %>
  </div>
<% else %>
<div class="navigation-links">
  <%= link_to "Sign Up", new_user_registration_path %>
  |
 <span> <%= link_to "Login", new_user_session_path %> </span>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
